node_modules
/.VSCodeCounter

.env.*.local

# prevent suppling production with any env by mistake
.env
.env.prod*
.env.production*

# turborepo
out
.turbo

# build
dist
.next

do_app_spec_prod.yaml
*.local.*
