/* Marzipan f8cd92 */
/* 80 40 20 --- 30 30 60 */
.Cf8cd92.on {
  background-color: #f8cd92 !important;
}
.Cf8cd92 {
  background-color: #fef5e9 !important;
}
.Cf8cd92:hover {
  background-color: #fbe1be !important;
}
.Cf8cd92:active {
  background-color: #f9d7a8 !important;
}
.Cf8cd92 .MuiSvgIcon-root {
  color: #ae9066 !important;
}
.Cf8cd92.on:hover {
  background-color: #ae9066 !important;
}
.Cf8cd92.on:active {
  background-color: #7c6749 !important;
}

/* Cornflower 6074ff */
.C6074ff.on {
  background-color: #6074ff !important;
}
.C6074ff {
  background-color: #dfe3ff !important;
}
.C6074ff:hover {
  background-color: #a0acff !important;
}
.C6074ff:active {
  background-color: #8090ff !important;
}
.C6074ff .MuiSvgIcon-root {
  color: #4351b3 !important;
}
.C6074ff.on:hover {
  background-color: #4351b3 !important;
}
.C6074ff.on:active {
  background-color: #262e66 !important;
}

/* Deepblush ec7194 */
.Cec7194.on {
  background-color: #ec7194 !important;
}
.Cec7194 {
  background-color: #fbe3ea !important;
}
.Cec7194:hover {
  background-color: #f4aabf !important;
}
.Cec7194:active {
  background-color: #f08da9 !important;
}
.Cec7194 .MuiSvgIcon-root {
  color: #a54f68 !important;
}
.Cec7194.on:hover {
  background-color: #a54f68 !important;
}
.Cec7194.on:active {
  background-color: #5e2d3b !important;
}

/* fountain 4cbfbc */
.C4cbfbc.on {
  background-color: #4cbfbc !important;
}
.C4cbfbc {
  background-color: #dbf2f2 !important;
}
.C4cbfbc:hover {
  background-color: #94d9d7 !important;
}
.C4cbfbc:active {
  background-color: #5ec5c3 !important;
}
.C4cbfbc .MuiSvgIcon-root {
  color: #358684 !important;
}
.C4cbfbc.on:hover {
  background-color: #358684 !important;
}
.C4cbfbc.on:active {
  background-color: #1e4c4b !important;
}

/* Cd38ead 4cbfbc */
.Cd38ead.on {
  background-color: #d38ead !important;
}
.Cd38ead {
  background-color: #f6e8ef !important;
}
.Cd38ead:hover {
  background-color: #e5bbce !important;
}
.Cd38ead:active {
  background-color: #dca5bd !important;
}
.Cd38ead .MuiSvgIcon-root {
  color: #946379 !important;
}
.Cd38ead.on:hover {
  background-color: #946379 !important;
}
.Cd38ead.on:active {
  background-color: #543945 !important;
}

/* Cd289f5 4cbfbc */
.Cd289f5.on {
  background-color: #d289f5 !important;
}
.Cd289f5 {
  background-color: #f6e7fd !important;
}
.Cd289f5:hover {
  background-color: #e4b8f9 !important;
}
.Cd289f5:active {
  background-color: #dba1f7 !important;
}
.Cd289f5 .MuiSvgIcon-root {
  color: #9360ac !important;
}
.Cd289f5.on:hover {
  background-color: #9360ac !important;
}
.Cd289f5.on:active {
  background-color: #543762 !important;
}

/* C1ca2ef 4cbfbc */
.C1ca2ef.on {
  background-color: #1ca2ef !important;
}
.C1ca2ef {
  background-color: #d2ecfc !important;
}
.C1ca2ef:hover {
  background-color: #77c7f5 !important;
}
.C1ca2ef:active {
  background-color: #49b5f2 !important;
}
.C1ca2ef .MuiSvgIcon-root {
  color: #1471a7 !important;
}
.C1ca2ef.on:hover {
  background-color: #1471a7 !important;
}
.C1ca2ef.on:active {
  background-color: #0b4160 !important;
}

/* Ca178fa 4cbfbc */
.Ca178fa.on {
  background-color: #a178fa !important;
}
.Ca178fa {
  background-color: #ece4fe !important;
}
.Ca178fa:hover {
  background-color: #c7aefc !important;
}
.Ca178fa:active {
  background-color: #b493fb !important;
}
.Ca178fa .MuiSvgIcon-root {
  color: #7154af !important;
}
.Ca178fa.on:hover {
  background-color: #7154af !important;
}
.Ca178fa.on:active {
  background-color: #403064 !important;
}
/* Ca178fa 4cbfbc */
.Cdefalaut.on {
  background-color: #828282 !important;
}
.Cdefalaut {
  background-color: #f9f8fc !important;
}
.Cdefalaut:hover {
  background-color: #dddddd !important;
}
.Cdefalaut:active {
  background-color: #c0c0c0 !important;
}
.Cdefalaut .MuiSvgIcon-root {
  color: #717171 !important;
}
.Cdefalaut.on:hover {
  background-color: #505050 !important;
}
.Cdefalaut.on:active {
  background-color: #484848 !important;
}

.Cf8cd92.on .MuiSvgIcon-root,
.C6074ff.on .MuiSvgIcon-root,
.Cec7194.on .MuiSvgIcon-root,
.C4cbfbc.on .MuiSvgIcon-root,
.Cd38ead.on .MuiSvgIcon-root,
.Cd289f5.on .MuiSvgIcon-root,
.C1ca2ef.on .MuiSvgIcon-root,
.Ca178fa.on .MuiSvgIcon-root,
.Cdefalaut.on .MuiSvgIcon-root {
  color: white !important;
}
